<%-  include("header") -%>

<body id="fillBody">


      <h1>Edit Your Memory</h1>
      <br>
      <form action="/posts" method="post" enctype="multipart/form-data">

        <div class="card fillCard" style="width: 18rem;">
          <br>
          <div class="form-group">
            <label for="image">Upload Image</label>
            <br>
            <input type="file" id="image" name="userPhoto"  required>
          </div>

          <div class="card-body">

            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="inp" name="title" value="hello world">
            </div>

            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="inp" name="name" value=<%= console.log(item._id) %>>
            </div>

            <div class="form-group">
              <label for="tags">Tags</label>
              <input type="text" class="inp" value="<%= item.tags %>" name="tags">
            </div>

            <div class="form-group">
              <label for="content">Description</label>
              <br>
              <textarea class="inpp" value="<%= item.content %>" name="content" rows="4" cols="48"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>

          </div>
        </div>

      </form>
      <br>
      <a href="/"><button class="btn btn-dark" type="submit" name="button">Back To Home</button></a>
</body>

<%-  include("footer") -%>
