<%-  include("header") -%>

<body id="fillBody">


      <h1>Edit Your Memory</h1>
      <br>



      <form action="/saveEdit" method="post">

        <div class="card fillCard" style="width: 18rem;">
          <br>
          <input type="hidden" name="id" value="<%=  item._id  %>">
          <div class="card-body">

            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="inp" name="title" value="<%= item.title %>">
            </div>

            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="inp" name="name" value= " <%= item.name %> ">
            </div>

            <div class="form-group">
              <label for="tags">Tags</label>
              <input type="text" class="inp" value="<%= item.tags %>" name="tags">
            </div>

            <div class="form-group">
              <label for="content">Description</label>
              <br>
              <textarea class="inpp" value="<%= item.content %>" name="content" rows="4" cols="48"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>

          </div>
        </div>

      </form>
      <br>
      <a href="posts"><button class="btn btn-dark" type="submit" name="button">Back To Posts</button></a>
</body>

<%-  include("footer") -%>
