<%-  include("header") -%>

<body id="postBody">
  <div class="posts">

    <h1 class="postHeading"> Memories ❤️ </h1>
    <form action="fill" class="postsForm">
      <button class="btn btn-primary postButton" type="submit" name="button">Add new Memory</button>
    </form>

    <br>
    <div class="card-group">
      <% newListItems.forEach(function(item){ %>
      <div class="col col-lg-4 top-text col-sm-12">

        <div class="card cards">
          <% const imgPath = "uploads/" + item.img; %>
          <img class="card-img-top postImages" src="<%= imgPath %>" alt="Card image cap">
          <div class="card-body">

            <p class="card-text"><small class="text-muted" style="font-size: 1rem"><%= item.tags %></small></p>

            <p class="card-text"><small class="text-muted naame">- <%= item.name %></small></p>

            <h5 class="card-title"><%=  item.title  %></h5>

            <p class="card-text"><%= item.content.substr(0,150) %><br> <a style="font-size : 0.9rem" href="/posts/<%=  item._id  %>">Read More</a></p>

            <span id=heart><i class="fa fa-heart-o" aria-hidden="true"></i> </span>

            <p class="card-text"><small class="text-muted timeCreation">Created 3 mins ago</small></p>
          </div>
        </div>
      </div>
      <% }) %>

    </div>
  </div>
</body>

<script type="text/javascript">
  $(document).ready(function() {
    $("#heart").click(function() {
      if ($("#heart").hasClass("liked")) {
        $("#heart").html('<i class="fa fa-heart-o" aria-hidden="true"></i>');
        $("#heart").removeClass("liked");
      } else {
        $("#heart").html('<i class="fa fa-heart" aria-hidden="true"></i>');
        $("#heart").addClass("liked");
      }
    });
  });
</script>

<%-  include("footer") -%>
