<%-  include("header") -%>
  <body>

<div class="postCon">

      <img class="postImg" src="<%= doc.photoLink %>" alt="Photo">

      <p class="postTit"><%= doc.title %></p>

      <p class= "postName">Author : <%= doc.name %></p>

      <div class="desc">Description</div>

      <p class="postCont"><%= doc.content %></p>

</div>

</body>


<%- include("footer") -%>
